// system color tokens
$blue-70v: #004892;
$blue-80v: #002f5f; // dark blue

$green-20v: #66ad3f;
$green-40v: #00a91c;

$gray-200: #fafafa; // alabaster
$gray-300: #e1e1e1; // mercury
$gray-500: #afafaf; // silver
$gray-800: #323232;

$white: #ffffff;
$black: #000000;
