.modal {
    z-index: 10;
    position: fixed;
    font-family: 'Avenir Next';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    @include breakpoint ('from-tablet') {
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__content {
        padding: 0 5%;
        opacity: 1;
        background-color: white;
        height: 100%;
        width: 100%;

        @include breakpoint ('from-tablet') {

            border-radius: 5px;
            padding: 0 3.125%;
            width: 576px;
            height: 640px;

            &-btn-container {
                display: flex;
                // keeps cancel and save button aligned at a specific base so they don't appear higher or lower than each other, could not fix via centering
                align-items: baseline;
                flex-direction: row-reverse;
                width: 100%;
            }

            &-middle {
                display: flex;
                flex-flow: row wrap; 
                justify-content: space-between;
            }

            &-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-input {
                    width: 45%;
                }
            }

        }

        &-header {
            padding: 32px 0;
            font-family: 'Avenir Next';
            font-weight: 900;
        }
        &-div {
            display: flex;
            justify-items: center;
            text-transform: none;
            text-indent: 5px;
            text-shadow: none;
            display: inline-block;
            text-align: start;
            background-color: white;
            cursor: text;
            margin: 0em;
            font: 400 13.3333px 'Avenir Next';
            padding: 1px 0px;
            border-width: 2px;
            border-style: inset;

            &-text {
                margin: 12px;
            }
        }
        &-subheader {
            margin: 0 0 8px 0;
            color: $base-light;
            font-weight: 500;
        }
        &-input {
            height: 48px;
            width: 100%;
            border: solid $base-lighter 2px;
            background-color: $base-lightest;
            padding-left: 5px;
            border-radius: 5px;
            margin-bottom: 24px;
        
            &::placeholder {
                color: black;
            }

            &--description {
                height: 80px;
                margin-bottom: 20px;
            }
        }
        &-status {
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
            @include breakpoint ('from-tablet') {
                margin: 0 0 20px 0;
                width: 45%;
                display: flex;
                align-items: flex-end;
            }
        }
        &-submit {
            width: 100%;
            background-color: $primary;
            color: white;
            height: 40px;
            margin-bottom: 20px;
            border-radius: 5px;
            text-transform: uppercase;

            @include breakpoint ('from-tablet') {
                width: 165px;
                margin-left: 48px;
            }
        }

        &-cancel {
            text-align: center;
            color: blue;
            text-transform: uppercase;
        }
    }
}

.form-open {
    width: 60px;
    height: 60px;
    background-color: $primary-dark;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 32px;
    z-index: 3;
    @include breakpoint ('from-tablet') {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        right: 64px;
        bottom: 100px;
    }
    @include breakpoint ('desktop') {
        right: 240px;
        bottom: 120px;
    }
}
    .tablet {
    display: none;

    @include breakpoint ('from-tablet') {
        display: inline-flex;
    }
}

.btn-container {
    width: 100%;
}

.mobile {
    @include breakpoint ('from-tablet') {
    display: none;
    }
}

.categories-input {
    justify-content: flex-start;
    height: 100px;

    &::placeholder {
        
    }
    
}


.categories-container {
    @include breakpoint ('from-tablet') {
        width: 100%;
    }
}
