.item-details {
  padding-top: 24px;

  @include breakpoint ('from-tablet') {
    padding-top: 48px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    @include breakpoint ('from-tablet') {
      flex-direction: row;
      align-items: center;
      // margin-bottom: 40px;
    }

    @include evenly-space-children(24px);
  }

  &__body {
    @include row;
    flex-direction: column;

    @include breakpoint ('from-tablet') {
      padding-top: 40px;
    }

    @include breakpoint ('desktop') {
      flex-direction: row;

      & > div {
        flex: 1;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 24px;

    @include breakpoint ('from-tablet') {
      padding-top: 40px;
    }
  }

  &__title {
    @include font ('h1', 'phone', 700);
    margin: 0;
    cursor: pointer;

    @include breakpoint ('from-tablet') {
      @include font ('h1', 'desktop')
    }

    &-wrapper {
      display: flex;
      align-items: center;

      & img {
        width: 16px;
        height: 24px;
        margin-right: 16px;
        cursor: pointer;
      }
    }
  }

  &__label {
    margin-bottom: 8px;
    @include font ('h5', 'phone', 600);
    color: $base-light;
    text-transform: uppercase;

    @include breakpoint ('from-tablet') {
    margin-bottom: 16px;
      @include font ('h5', 'desktop')
    }
  }

  &__description > p {
    margin-bottom: 32px;
  }

  &__specs {
    @include row;

    @include breakpoint ('desktop') {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-card {
      width: 100%;

      @include breakpoint ('from-tablet') {
        width: 50%;
      }

      &--full-width {
        width: 100%;
      }

      & > p {
        margin-bottom: 24px;

        @include breakpoint ('from-tablet') {
          margin-bottom: 56px;
        }
      }
    }
  }

  &__stock-tag {
    width: 88px;
    height: 24px;
    margin: 16px 0;
    @include font ('p', 'phone', 600);
    background-color: $base-lighter;
    border: none;
    border-radius: $default-button-radius;

    &--in-stock {
      color: $white;
      background-color: $success-light;
    }
  }

  &__btn {
    width: 100%;

    @include breakpoint ('from-tablet') {
      width: 160px;
    }
  }

  &__divider {
    display: none;

    @include breakpoint ('from-tablet') {
      display: block;
    }
  }
}
