.warehouse-info {
    width: calc(100vw - 32px);
    margin: $center;
  
    &__content {
      margin-bottom: 24px;
  
      &-key {
        // add font styling
      }
  
      &-container {
        margin-top: 16px;
        // add font styling
        display: flex;
        flex-direction: column;
      }
    }
  }
  
  @include breakpoint ('from-tablet') {
    .warehouse-info {
      width: calc(100vw - 48px);
      display: flex;
      margin-bottom: 40px;
  
      &__content {
        width: 50%;
        margin-bottom: unset;
      }
    }
  
    .warehouse-products {
      background-color: $alabaster;
      padding: 40px 0;
    }
  }
  
  @include breakpoint ('desktop') {
    .warehouse-info {
      width: calc(100vw - 360px);
    }
  }
  