@import"../helpers/mixins";
.container{
    font-size: larger;
    margin: 10% 7%;
  

}
.newBox{
    margin: 5% 6%;
   
    &__heading{
        margin-bottom: 6%;
    }
    &__form{
        display: flex;
       
        &--element1{
            display: flex;
           
            .box{
                display: flex;
                margin-top: 20px;
                @include breakpoint("phone"){
                    display: flex;
                    flex-direction: column;
                  }
                  @include breakpoint("to-tablet"){
                    display: flex;
                    
                  }
                
                  
                &__1{
                    display: flex;
                    flex-direction: column;
                    margin-right: 40px;
                    &--L{
                    
                    }
                    &--I{

                    }
                }
                &__2{
                    margin-right: 10%;
                    display: flex;
                    flex-direction: column;
                    &--L{
                    
                    }
                    &--I{

                    }
                }
            }

        }
        &--element2{
            display: flex;
            .box{
                display: flex;
                margin-top: 20px;
                @include breakpoint("phone"){
                    display: flex;
                    flex-direction: column;
                  }
                  @include breakpoint("to-tablet"){
                    display: flex;
                    
                  }
                
               
                &__1{
                    display: flex;
                    flex-direction: column;
                    margin-right: 40px;
                    &--L{
                    
                    }
                    &--I{

                    }
                }
                &__2{
                    margin-right: 10%;
                    display: flex;
                    flex-direction: column;
                    &--L{
                    
                    }
                    &--I{
                        select{
                        @include breakpoint("tablet"){
                            width: 40px;

                        }
                    }

                    }
                }
            }

        }
        &--element3{
            display: flex;
            .box{
                display: flex;
                margin-top: 20px;
                @include breakpoint("phone"){
                    display: flex;
                    flex-direction: column;
                  }
                  @include breakpoint("to-tablet"){
                    display: flex;
                    
                  }
                
               
                &__1{
                    display: flex;
                    flex-direction: column;
                    margin-right: 40px;
                    &--L{
                    
                    }
                    &--I{

                    }
                }
                &__2{
                    margin-right: 10%;
                    display: flex;
                    flex-direction: column;
                    &--L{
                    
                    }
                    &--I{

                    }
                }
            }

        }
        &--element4{
            display: flex;
            .box{
                display: flex;
               
                &__1{
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    &--L{
                    
                    }
                    &--I{
                        width:480px ;
                        height: 80px;
                        @include breakpoint("phone"){
                            width: 220px;
                            height: 80px;
                          }

                    }
                }
            }

        }
        &--buttons{
            display: flex;
            justify-content: flex-end;
            margin-top:40px;
            @include breakpoint("phone"){
                justify-content: flex-start;
                width: 220px;
                height: 48px;
                margin: 0 auto;
              }
            .box{
            display: flex;
         
            &__1{
               

            }
            }
        }

    }


}
input{
    border-radius: 8%;
    @include breakpoint("phone"){
        width: 220px;
        height: 48px;
      }
}
