// theme colors
$primary: $blue-70v;
$primary-dark: $blue-80v;

$base-lightest: $gray-200;
$base-lighter: $gray-300;
$base-light: $gray-500;
$base-darkest: $gray-800;

// font
$base-font-size: 16px;

// buttons and forms
$default-button-radius: 4px;
$default-input-radius: 2px;

// margin reset
$center: 0 auto;